* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: #fafafa;
}

table {
  color: #333;
  font-size: 0.8em;
  font-weight: 500;
  line-height: 5px;
  border-collapse: separate;
  border: 1px solid #333;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
}

td,
th {
  padding: 8px;
}

th {
  font-weight: bold;
  border: #333;
  border: 1px solid #333;
  border-spacing: 0;
  border-collapse: collapse;
  text-transform: uppercase;
  background-color: #dddddd;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

input[type="button"] {
  transition: all 0.3s;
  border: 1px solid #ddd;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 10px;
}

input[type="button"]:not(.active) {
  background-color: transparent;
}

input[type="button"]:hover:not(.active) {
  background-color: #ddd;
}

.table-sortable th {
  cursor: pointer;
}

.table-sortable .th-sort-asc::after {
  content: "\25b4";
}

.table-sortable .th-sort-desc::after {
  content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  background: rgba(0, 0, 0, 0.1);
}

.infoRow {
  padding-left: 10px;
  text-align: left;
  font-size: 0.8em;
  font-weight: 500;
}

p.a {
  display: inline; /* the default for span */
  font-size: 0.8em;
  font-weight: 500;
}
